<div class="container min-vh-100 d-flex flex-column justify-content-center align-items-center">
  <div class="w-100" style="max-width: 400px;">
      <h1>写真情報を編集</h1>

      <%= form_with(model: [@project, @photo], local: true) do |form| %>
        <div>
          <%= form.label :image, "写真" %><br>
          <%= form.file_field :image %>
          <% if @photo.image.attached? %>
            <p>現在の画像:</p>
            <%= image_tag @photo.image.variant(resize_to_limit: [300, 300]) %>
          <% end %>
        </div>

        <div>
          <%= form.label :work_number, "工事番号" %><br>
          <%= form.text_field :work_number %>
        </div>

        <div>
          <%= form.label :work_content, "工事内容" %><br>
          <%= form.text_area :work_content, class: "form-control", rows: 3 %>
        </div>

        <div>
          <%= form.label :location, "工事箇所" %><br>
          <%= form.text_field :location %>
        </div>

        <div>
          <%= form.label :date, "撮影日" %><br>
          <%= form.date_field :date %>
        </div>

        <div>
          <%= form.label :project_name, "工事件名" %><br>
          <%= form.text_field :project_name %>
        </div>

        <div>
          <%= form.label :contractor, "施工者" %><br>
          <%= form.text_field :contractor %>
        </div>

        <div>
          <%= form.label :note, "メモ" %><br>
          <%= form.text_area :note %>
        </div>

        <div>
          <%= form.submit "更新する" %>
        </div>
      <% end %>

      <%= link_to '戻る', project_photo_path(@project, @photo) %>

 </div>
</div>